/*  -----------GLOBAL STYLES FOR HOME PAGE------------*/
.home-section-title{
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}
.home-section-subtitle{
  color: var(--primary-color);
  letter-spacing: 2px;
}





/*  -----------HERO SECTION ------------*/

.hero-container{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.hero-item-1{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  max-height: 740px;
}

.hero-box{
  position: absolute;
  text-align: center;
  font-size: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  top: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(1, 1, 1, 0.289);
}
.hero-box span{
  color: black;
  text-shadow: 2px 2px 0px rgb(197, 195, 195);
  letter-spacing: 3px;
}
.hero-box button{
  cursor: pointer;
  font-size: 35px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  box-shadow: inset 0 0 0 0 black;

  color: black;
  transition: ease-out .25s;
  background-color: rgba(255, 255, 255, 0.775);
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  letter-spacing: 5px;
}
.hero-box button:hover{
  box-shadow: inset 250px 0px 0px 0px var(--primary-color);
/* box-shadow: inset 250px 0px 0px 0px rgba(0, 0, 0, 0.775); */
color: white;
background-color: transparent;
}


@media  screen and (max-width:1148px) {
    .hero-box{
      font-size: 75px;
    }
}
@media  screen and (max-width:650px) {
  .hero-box{
    font-size: 50px;
  }
  .hero-box button{
    font-size: 25px;

    padding: 10px;
    border: none;
  }

}




/* ---------------MOST POPULAR SECTION--------------*/

.popular-container{
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

}


.cards{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  width: 100%;
}
@media screen and (max-width:850px) {

  .cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
}





/*  -----------ABOUT SECTION ------------*/

.about-wrapper{
  display: flex;
  justify-content: center;
  background-image:linear-gradient(
    0deg,
    white 0%,
    var(--primary-color) 25%,
    var(--primary-color) 75%,
    white 100%
  );
  padding: 0px;
}


.about-box{
  background-color: rgba(0, 0, 0, 0.746);
  color: white;
  margin:40px;
  padding: 40px;
  max-width: 800px;
  text-align: center;
  box-shadow: 0px 0px 100px white;


}
.about-box h1{
  letter-spacing: 5px;
  padding: 20px;
  color: var(--primary-color);
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
}
.about-box p{
  line-height: 30px;
  padding: 40px;
  font-size: 20px;
}
@media screen and (max-width:750px) {
  .about-box{
    padding: 10px;
  }
  .about-box p{
    line-height: 30px;
    padding: 15px;
    font-size: 18px;
  }
  
}







/*  -----------Services SECTION ------------*/

.services-container{
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.service-cards{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  width: 100%;
}
@media screen and (max-width:1720px) {

  .service-cards{
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}}
@media screen and (max-width:800px) {

  .service-cards{
  grid-template-columns: 1fr;
  gap: 20px;
}
}


@media screen and (max-width:450px) {
  .card-v2-wrapper{
      height: 700px;
      position:relative;
  }
  .services-container, .popular-container,.about-box{
    padding: 40px 15px;
  }
}







/* ---------REVIEWS SECTION*/
.reviews-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
  overflow: hidden;
  
}
.reviews-google-logo{
  width: 180px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.stars{
  margin-bottom: 10px;
}






/* ---------Location Section--------------*/

.location-container{
  overflow: hidden;
}

