.service-events-container{
    padding: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}
.service-events-text-container{

    padding: 40px;
    box-sizing: border-box;
    padding-bottom: 0px;
    text-align: center;
    margin: 40px 0px 0px 0px;

    max-width: 1500px;

}
.service-events-main-title{
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;


}
.service-events-sub-text{
    font-size: 1.4em;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.no-further-btn{
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.423);
    border: 1px solid #0c142f;
    display: inline-block;
    padding: 10px;
    color: black;
    box-shadow: 0px 0px var(--primary-color) inset;
    transition: ease-in .35s;
    cursor: pointer;
    margin-top: 50px;

}
.no-further-btn:hover{
    box-shadow: 300px 0px var(--primary-color) inset;
    color: white;
}
.about-events-title-container{
    width: 100%;
    max-width: 1500px;
    padding: 0px 40px;
    box-sizing: border-box;

 
    margin-top: 70px;


}
.about-events-title-container p{
    text-align: left;
}
.about-events-title{
    width: 100%;
    font-weight: 800;
    font-size: 3.5em;
}

.layered-wave-div{
    width: 100%;

}
.service-event-float-img{
    max-width: 380px;
    max-height: 500px;
    width: 100%;
    margin: 10px;
    float: right;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    object-fit: cover;
}


.service-events-desc{
    font-size: 1.3em;
    margin-top: 0px;
    padding: 40px;
    box-sizing: border-box;
    max-width: 1500px;



}
.service-events-desc p{
    letter-spacing: .5px;
    line-height: 35px;
}















.service-events-book-banner{
    background-color: #0c1228;
    width: 100%;
    min-height: 500px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    background-image: url('../../assets/Events/event2.mp4');
    background-position: center;
    background-size: cover;
    

}
#event-video-1{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;

}
.event-pricing-vid-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.book-banner-text{
    position: relative;
    z-index: 2;
}
.service-events-book-banner button{
    padding: 10px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.061);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0px 0px 0px white inset;
    transition: ease-in .3s;
    margin-bottom: 30px;
}
.service-events-book-banner button:hover{
    box-shadow: 180px 0px 0px white inset;
    color: black;
}
.service-events-book-banner h1{
    font-size: 4em;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.service-events-book-banner p{
    color: white;
    margin-bottom: 10px;
}
.banner-contact-info{
    font-size: 1.3em;
}












.service-events-types-banner {
    width: 100%;
    box-sizing: border-box;
    color: black;
    background-color: #05050509;
}






.service-events-types-banner h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    padding: 40px 20px;
    display: none;
}

.service-events-slide {
    overflow: hidden;
    white-space: nowrap;

}

.service-events-types {
    display: flex;
    animation: slide 80s linear infinite;
    width: max-content;

}
.service-events-sub-text{

    letter-spacing: 1px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Slide half the total width to loop the animation */
    }
}

.service-events-types div {
    font-size: 3em;
    letter-spacing: 1px;
    white-space: nowrap;
    color: rgb(58, 58, 58);
    letter-spacing: 4px;
    margin: 0px 40px;
    transition: ease-in .15s;

}








@media screen and (max-width:800px) {

    .service-events-text-container{
        background-image: url('../../assets/Events/events.jpg');
        min-height: 600px;
        height: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
        padding: 70px 20px;
        overflow: hidden;
        

    }
    .about-events-title-container p{
        text-align: center;
    }
    .layered-wave-div{
        display: none;
    }
    .service-events-main-title{
        color: white;
        text-shadow: 4px 3px black;
    }
    .no-further-btn{
        margin-left: 0px;
        background-color: #7182f1;
        border: 1px solid #1c1c1c;
        display: inline-block;
        padding: 10px;
        color: white;
        box-shadow: none;
        transition: ease-in .15s;
        cursor: pointer;
        margin-top: 50px;
        border-radius: 5px;


    
    }
    .no-further-btn:hover{
        box-shadow: none;
        background-color:#4055de ;
        color: white;
        
    }
    .service-events-main-title, .service-events-book-banner h1{
        font-size: 3.7em;
        line-height: 70px;
    }
    .service-events-sub-text{
        color: var(--primary-color);
        font-weight: 800;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        background-color: #0000007f;
        padding: 20px;
        border-radius: 10px;
        color: #dcdce0;
        letter-spacing: 1px;
    }
    .about-events-title-container{
        padding: 0px 20px;
        text-align: center;
    }

    .service-event-float-img{
        display: none;

    }

    .service-events-types div{
        font-size: 2.5em;
        letter-spacing: 0.5px;
    }
     .event-pricing-container{
        padding:20px;
    }
    .service-events-desc{
        padding:80px 20px;
    }

}




@media screen and (max-width:400px){

    .service-events-main-title, .service-events-book-banner h1{
        font-size: 3.5em;
        line-height: 50px;

    }
    .service-events-sub-text{
        font-size: 1.7em;

    }



}

.event-pricing-container{
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.event-pricing-title{
    text-align: center;
    font-size: 3.5em;
    font-weight: 800;
}
.event-pricing-subtitle{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.4em;
    letter-spacing:3px;
}

.event-pricing-factors{
    display: flex;
    justify-content:center;
    gap: 80px;
    flex-wrap: wrap;
}
.factor-icon{
    background-color: var(--primary-color);
    display: inline-block;
    font-size: 50px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.event-pricing-factor{
    margin: 40px 0px;
    max-width: 600px;
    margin-bottom: 0px;
}
.event-pricing-factor h2{
    font-size: 2.4em;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 3px;
    color: #474646;;
}
.event-pricing-factor p{
    font-size: 1.3em;
    letter-spacing: .5px;
}






.recent-events-container{
    width: 100%;
    max-width: 1400px;
    margin-bottom: 80px;
}
.recent-events-video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 40px;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    box-sizing: border-box;
    justify-items: center;

}
@media screen and (max-width:700px) {
    .recent-events-video-grid{
        grid-template-columns: 1fr;
        overflow: hidden;
    }

}
.recent-events-video-grid div{
    padding: 40px 0px;
    max-width: 400px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    margin: 20px 0px;
}
.recent-events-video-grid div p{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #474646;
    margin-bottom: 20px;
    font-weight: 800;
    
}
.recent-events-video-grid div p span{
    padding: 0;
    margin: 0;
    font-weight: 900;

}
.recent-events-video-grid div p::after{
    content: "";
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.recent-events-vid{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    align-self: bottom;
}




























.get-quote-container{
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}
.event-form-btn{
    padding: 12px;
    font-size: 1.5em;
    margin-top: 30px;
    cursor: pointer;
    background-color: #0c142f00;
    color: #474646;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.545) inset;
    transition: ease-in .15s;
    border: 1px solid var(--primary-color);
}
.event-form-btn:hover{
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.545) ;
    background-color: #fffdfd;
}

.get-quote-container .location-store-name p{
    text-align: left;
}

