
/* Pagination dots */
.swiper-pagination-bullet {
    background-color: #000000;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

/* Active pagination dot */
.swiper-pagination-bullet-active {
background-color: rgb(200, 200, 200);

}

  /* Next button */
.swiper-button-next {
    color: white;




  }
/* Previous button */
.swiper-button-prev {
color: white;



}
  

.swiper-button-next,
.swiper-button-prev {
width: 50px;
height: 50px;
}