.card-v3-container{
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;

    margin: 0px 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

}
.card-v3-container:hover{
    cursor: grab;
}
.card-v3-container:active{
    cursor: grabbing;
}

.card-v3-img-container{
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}
.card-v3-img-container h1{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(197, 202, 252);
    font-size: 2.3em;
    writing-mode: vertical-rl;
    text-shadow: 3px 3px black;


}
.card-v3-img{
    width: 100%;
    transition: ease-in .3s;
    height: 100%;
    object-fit: cover;
    filter:brightness(90%);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;


}
.card-v3-container:hover .card-v3-img{
    transform: scale(1.2);
}
.card-v3-sub{
    position: absolute;
    top: 20px;
    color: rgb(245, 245, 245);
    right: 70px;
    left:20px
}

.view-gallery-btn{
    color: white;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    transition: ease-in .3s;
    position: absolute;
    bottom: 40px;
    right: 20px;
    letter-spacing: initial;
    font-size: 1.3em;


}
.view-gallery-btn:hover{
    background-color: white;
    color: black;



}