.card-wrapper {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.card-image-container {
    width: 100%;
    padding-top: 100%; /* controls the height of the image that's visible*/
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.199);
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    transition: transform 3s ease; 


}

.card-image:hover {
    transform: scale(1.3);

}

.card-info {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.card-sub {
    color: var(--primary-color);
    font-size: 12px;
}
